{{template "base" .}}

{{define "content"}}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Acerca de...</h1>
                <p>me gusta el nepe</p>
                <p>pero no tanto</p>
                <p>o si?</p>

                <p>Este mensaje no se para que es {{index .StringMap "test"}} </p>

                <p>
                    {{if ne (index .StringMap "remote_ip") ""}}
                        Tu remote_ip address is {{index .StringMap "remote_ip"}}
                    {{else}}
                        Aun no se tu dirección ip. Visita el <a href="/"> Inicio</a> para poder obtenerlo.
                    {{end}}
                </p>
            </div>
        </div>
    </div>
{{end}}